* {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --svg-margins: 1.5vw;
    --blue: rgb(38, 161, 255);
    --svg-height: 3vh;
    --big-container-margin: 2vw;
    --project-margin: 1vw;
    --small-font-color: #7d7d7d;
}

.svg {
    height: var(--svg-height);
    margin: var(--svg-margins);
}

.name {
    margin: var(--svg-margins);
}

.dashboard {
    font-size: 1.5rem;
    img {
        height: 2rem;
        margin: var(--svg-margins) calc(0.85 * var(--svg-margins));
    }
}

.dashboard-item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    font-weight: 600;
    color: white;
    max-height: 3rem;
}

.container {
    height: 100vh;
    display: grid;
    grid-template: 0.9fr 0.9fr 8fr / 1fr 4fr;
}

.sidebar {
    grid-area: 1 / 1 / 4 / 1;
    display: grid;
    grid-template-rows: 1fr 3fr 6fr;
    background-color: var(--blue);
    padding-right: var(--big-container-margin);
}

.mainbar {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.helpbar {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 4vh;
}

input {
    background-color: #ededed;
    border-style: none;
    height: 3vh;
    width: 40vw;
    padding: 10px;
    margin-right: 10vw;
    border-radius: 10px;
    border-color: none;
}

.searchbar {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    padding-right: var(--big-container-margin);
    & > .profilepic {
        border-radius: 50%;
        height: 6vh;
        width: 6vh;
    }
}

.welcomebar .profilepic {
    border-radius: 50%;
    justify-self: center;
    height: 8vh;
    width: 8vh;
}

.content {
    display: flex;
    gap: 2vw;
    padding: 2vw 1vw;
    background-color: #f0f0f0;
    z-index: -1;
}

.welcomebar {
    display: grid;
    grid-template-columns: auto 0.9fr auto;
    align-items: center;
    padding-bottom: var(--project-margin);
	box-shadow: 1px 5px 5px #CCCCCC;
    margin-bottom: 2px;
}

.introduction {
    display: grid;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-right: var(--big-container-margin);;
}

button {
    flex: 1;
    height: 4vh;
    background-color: var(--blue);
    padding: 0.4vw 1vw;
    border-radius: 25px;
    border-style: none;
}

.title {
    font-weight: 600;
}

.projects {
    flex: 3;
    display: flex;
    flex-direction: column;
    .title {
        margin-left: var(--project-margin);
    }
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    flex: 1;
    gap: 2vw;
    margin: var(--project-margin) 0 0 var(--project-margin);
}

.cards {
    box-shadow: inset 5px 0px 0px 0px #FFD400;
    border-radius: 10px;
    border-style: none;
    background-color: white;
    padding: 2vw 2vw 0 2vw;
    display: grid;
    grid-template-rows: 2fr 1fr;
    p {
        font-size: 0.8rem;
        color: var(--small-font-color);
        margin-top: 0.3rem;
    }
}

.class-icons {
    display: grid;
    grid-template-columns: 10fr 1fr 1fr 1fr;
    padding-bottom: 1vh;
    & .svg {
        margin: 1vw;
    }
}

.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.announcements {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.announcement-cards {
    background-color: white;
    margin-top: var(--project-margin);
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    padding: 1vw 2vw 2vw 2vw;
    gap: 1vw;
    border-radius: 10px;

    > :first-child {
        border: none;
    }
}

.announcement {
    border-top: 1px solid black;
    padding-top: 2vh;
    & p {
        font-size: 0.8rem;
        color: rgb(163, 163, 163);
        margin-top: 0.3rem;
    }
}

.trending {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.trending-cards {
    flex: 1;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: white;
    border-radius: 10px;
    margin-top: var(--project-margin);
    padding: 2vw;
    gap: 2vh;
}

.trend {
    display: flex;
    align-items: center;
    gap: 1vw;
    & img {
        border-radius: 50%;
        height: 6vh;
        width: 6vh;
    }
    & p {
        font-size: 0.8rem;
    }
    & p:nth-child(2) {
        color: var(--small-font-color);
        margin-top: 0.3rem;
    }
}